@import "tailwindcss";

@theme {
  --color-body: rgb(255 255 255);
  --color-box-bg: rgb(255 255 255);
  --color-box-border: rgb(31 41 55);
  --color-box-shadow: rgb(226 232 240 / 0.5);
  --color-primary: rgb(124 58 237);
  --color-heading-1: rgb(23 37 84);
  --color-heading-2: rgb(31 41 55);
  --color-heading-3: rgb(55 65 81);
}

html.dark {
  --color-body: rgb(3 7 18);
  --color-box-bg: rgb(17 24 39);
  --color-box-border: rgba(243, 244, 246, 0.881);
  --color-box-shadow: transparent;
  --color-heading-1: rgb(255 255 255);
  --color-heading-2: rgb(243 244 246);
  --color-heading-3: rgb(209 213 219);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-body);
  font-family: "Raleway", sans-serif;
}
